/* start basic elemnts */
h1 {
  margin: 0 auto;
  font-family: 'Montserrat-Black';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat-Black";
  margin: 0 auto;
  padding: 2% auto;
}

h3 {
  font-size: 1.4rem;
  font-family: "Montserrat-Black";
}

hr {
  border: 12px dotted #000;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
  width: 10%;
  margin: 2% 45% 2% 45%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #F76E11;
  border-color: #F76E11;
  border-radius: 50%;
  z-index: 999;
}

/* end basic elements */
/* start title section */
.title {
  background-color: #413F42;
  color: #000;
}

/* end title section */
/* NAVBAR */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.brand-span {
  color: #F76E11;
}

.navbar {
  padding: 0 13%;
  background-color: #413F42;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar.scrolled .navbar-nav li a {
  color: #F76E11;
}

.navbar.scrolled .navbar-nav li a:hover {
  color: #A27B5C;
}

.navbar.scrolled .navbar-brand {
  color: #F76E11;
}

.navbar.scrolled .brand-span {
  color: #413F42;
}
.navbar.scrolled .navbar-toggler{
  background-color: #F76E11;
}

.navbar-nav {
  font-size: 1.2rem;
  font-weight: bold;
}

#navbarTogglerList {
  text-align: center;
}

/* END NAVBAR */
/* intro */
.intro {
  background-color: #413F42;
  padding: 3% 5% 3% 5%;
  color: white;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px){
  .intro {
    padding: 10% 1% 10% 1%;
  }
  .thumbnail{
    margin: auto 1%;
  }

}
@media (max-width: 992px){
  .intro {
    padding: 10% 3% 10% 3%;
  }

}

.intro-cont {
  min-height: 25rem;
  max-height: 45rem;
  padding-top: 3%;
}

.flex-row {
  justify-content: center;
  align-items: center;
}

.intro-h1 {
  margin: 4% auto;
}

#booking-h {
  color: #F76E11;
}

/* HOVER INTRO LOGOS */
.thumbnail {
  margin: auto 5%;
  background-color: inherit;
  width: 10rem;
  height: 70%;
  border :none;
  display: block;
  z-index: 998;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.card-img-top {
  width: 90px;
}

.card-title {
  white-space: nowrap;
}
@media (max-width: 768px){
.card-title{
  font-size: 1em;
}
#mg-title{
  margin-left: -6%;
}
  }


.thumbnail:hover {
  z-index: 999;
  transform: scale(1.3);
}

/* END HOVER INTRO LOGOS */
/* end intro */


#features {
  position: relative;
  text-align: center;
}
.cf-big{
  padding: 7% 15%;
}

.feature-title {
  font-size: 1.5rem;
}

.fb {
  padding: 4.5%;
}

.md-icon {
  color: #F76E11;;
  margin-bottom: 1rem;
}

.md-icon:hover {
  color: #ef8172;
}







/* aboutus */
.aboutus {
  text-align: center;
  font-family: "Ubuntu"

}
#aboutus{
  background-color: #413F42;
  margin-top: 12%;
  padding: 5% 3%;
}


.fa {
  padding-bottom: 0;
}

.feature-box {
  padding: 3% 5%;
}

#aboutus-h {
  color: #F76E11;
}

.wrapper-aboutus {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #413F42;
  padding-bottom: 5%;
}

.cards-aboutus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.card-aboutus {
  margin:40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.card-aboutus-title {
  display: block;
  text-align: center;
  color: #F76E11;
  background-color: #fff;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.aboutus-img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-aboutus-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card-aboutus:hover .card-aboutus-desc {
  opacity: 1;
  height: 116%;
}


/* end aboutus */
/* PRODUCTS */
.products {
  background: linear-gradient(to right bottom, #413f42, #4a494c, #535357, #5d5d62, #66686d, #6b6e73, #717478, #767a7e, #787c80, #7a7f83, #7d8185, #7f8487);
  padding-bottom: 3%;
  padding-top: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Ubuntu"
}
.product-list{
  text-align: left;
  color: white;
}

.product-h {
  color: #F76E11;
  padding-bottom: 5%;
}

.products-cont {
  justify-content: center;
}

.product-card {
  width: 300px;
  height: 400px;
  /* margin: 20px; */
  background: rgb(84,81,85);
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.product-card:hover {
  z-index: 10;
  transform: scale(1.3);
}

.product-card .card-text {
  color: white;
}

.product-card .card-img-top {
  width: 30%;
}

.product-logo {
  width: 70px;
}

.cloud-icon{
  background : rgb(84,81,85);
  color: #F76E11;
}


/* end products */
/* Utility */
.uti-div{
  padding:4% 3%;
}
.showclass{
  display: none;
}

.gr-1 {
  background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
}

.gr-2 {
  background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}

.gr-3 {
  background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}

* {
  transition: .5s;
}
.h-100 {
  height: 30vh !important;
}

@media (max-width: 768px){
  .h-100 {
    height: 100vh !important;
  }
  .uti-div{
  margin-bottom: 20%;
  }
}
@media (max-width: 992px){
  .h-100 {
    height: 90vh !important;
  }

}

.align-middle {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.column-utility {
  margin-top: 3rem;
  padding-left: 3rem;
}

.column-utility:hover {
  padding-left: 0;
}

.column-utility:hover .txt-utility {
  margin-left: 1rem;
}

.column-utility:hover .utility-basic-element {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
.column-utility:hover .utility-a{
 color:rgba(255,255,255,1);
}
.column-utility:hover .utility-a:after{
  width: 10%;
}
.card-utility {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, .27);
}

.txt-utility {
  margin-left: -3rem;
  z-index: 1;
}

.ube-h {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.ube-p {
  font-size: 1rem;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
}

.utility-a {
  z-index: 3;
  font-size: .7rem;
  color: rgba(0, 0, 0, 1);
  margin-left: 1rem;
  position: relative;
  bottom: -.5rem;
  text-transform: uppercase;
}

.utility-a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  transition: .5s;
}

.ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#extra-ico {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: .2;
  color: rgba(255, 255, 255, 1);
  z-index: 0;
}

/* END UTILITY */
/* SECTION CLIENTS */
.clients {

  text-align: center;
  background-color: #D1D9D9;
  padding: 3% 10%;
}

.clients-cont{
  justify-content: center;
}

.clients-col {
  background-color: white;
  min-height: 120px;
  padding: 8px;
  margin: 8px;
}

.clients-logo-div {
  max-height: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.company-logo {
  display: block;
  width: 60%;
  height: 60%;
  padding-top: 4%;
}

.company-name-div {
  max-height: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
}

/* end clients */
/* START SECTION CONTACT US  */
.contact{
  text-align: center;
  color: white;
  background-color: #413F42;
  padding: 7% 15%;
}
.contact-para{
  margin-bottom: 0;
}

.contact-title{
  color: #F76E11;
  font-size: 2em;
  text-decoration: underline;
}

.rev{
  margin-top: 0;
  padding-top: 0;
}
.icon-contact{
  color: #F76E11;
  padding: 5px;
  font-size: 1.2rem;
}
.white-text{
  color: white;
}
.container-contact{
  padding-top: 5%;
}
/* COUNTER SPAM BOTS PHONE - EMAIL */
span.rev {color: white;}
span.rev { unicode-bidi:bidi-override; direction:rtl }
span.rev.email:before { content:"rg.tinuofni" }
span.rev.email:after { content:"@ofni :liamE" }
span.rev.phone:before { content:"352 42 24" }
span.rev.phone:after { content:" 012 :λήΤ" }
span.rev.phone.leo:before { content:"032 505 84" }
span.rev.phone.leo:after { content:" 96 03+ :ότηνιΚ" }










/* .contact {rg.tinuofni
  text-align: center;
  align-items: center;
  padding: 3% 10%;
  background-color: #D5D5D5;
}

#contact-h1 {
  color: #06283D;
} */

/* #email-text {
  height: 200px;
}

#validationFirstName {
  width: 55%;
}

#validationLastName {
  width: 55%;
} */

/* .contact-validation-div {
  text-align: left;
  padding-left: 2%;
} */

/* END SECTION CONTACT US  */


/* FOOTER */
.footer {
  text-align: center;
  background-color: #DDDDDD;
  color: #000;
  padding: 6% 15%;
}

/* end footer */
